<% if @product.errors.any? %>
  <div>
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @product do |f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :category_id %>
    <%= collection_select(:product, :category_id, Category.all, :id, :title) %>
  </div>

  <div>
    <%= f.submit 'Save' %>
  </div>

<% end %>
