<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<div>
  <%= form_tag(search_product_path, method: "get") do %>
    <%= label_tag :title, "Search:" %> <br>
    <%= text_field_tag :title, params[:title], placeholder: "Search Products" %>
    <%= select_tag :category, options_from_collection_for_select(Category.all, "id", "title", params[:category]) %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

<table>
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
  </thead>

  <tbody>
    <% @products.each do |product|%>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.category.title %></td>
        <td><%= link_to "Show", product %></td>
        <td><%= link_to "Edit", edit_product_path(product) %></td>
        <td><%= link_to "Destroy", product, method: :delete, data: { confirm: "Are you sure ?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Product', new_product_path %>
